.btn-custom {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2b5c7a;
  --bs-btn-border-color: #2b5c7a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e506a;
  --bs-btn-hover-border-color: #2e506a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e506a;
  --bs-btn-active-border-color: #2e506a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2b5c7a;
  --bs-btn-disabled-border-color: #2b5c7a;
}

.btn-custom.active {
  background-color: #2e506a;
  border-color: #2e506a;
  color: #ffffff;
}

.border-custom {
  background-color: #2e506a;
  border-color: #2e506a;
  color: #ffffff;
}

.icon-custom {
  background-color: transparent;
  color: #919495;
}

.btn-outline-custom {
  --bs-btn-color: #2e506a;
  --bs-btn-border-color: #2e506a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e506a;
  --bs-btn-hover-border-color: #2e506a;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e506a;
  --bs-btn-active-border-color: #2e506a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2e506a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2e506a;
  --bs-gradient: none;
}

.transparente {
  background-color: transparent;
  border-color: transparent;
}

.box-search {
  display: flex;
  justify-content: center;
}